#projects_container {
  padding-top: 40px;
  text-align: center;
  height: auto;
  h1 {
    padding-bottom: 50px;
  }
  .project_rows {
    border: 3px solid #030303d3;

    margin-bottom: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 250px;

    .btn {
      background-color: #b2123b;
      border-color: #b2123b;
      &:hover {
        background-color: #991133;
      }
    }
  }

  #bdo_profit_link {
    width: 480px;
    height: 270px;
    background: url("../../Assets/bdoprofitstatic.jpg");
    background-repeat: no-repeat;
    &:hover {
      background: url("../../Assets/bdoprofit.gif");
      background-repeat: no-repeat;
    }
  }
  #lol_champions_link {
    width: 480px;
    height: 270px;
    background: url("../../Assets/lolchampionsstatic.jpg");
    background-repeat: no-repeat;
    &:hover {
      background: url("../../Assets/lolchampions.gif");
      background-repeat: no-repeat;
    }
  }
}
@media (max-width: 991.98px) {
  .filler_col {
    display: none;
  }
}
