#skills_row {
  padding-top: 30px;
}
#front_end_container {
  border-right: 2px solid rgba(0, 0, 0, 0.219);
}
#back_end_container {
  border-right: 2px solid rgba(0, 0, 0, 0.219);
  h3,
  ul {
    animation-delay: 0.35s !important;
  }
}
#others_container {
  h3,
  ul {
    animation-delay: 0.75s !important;
  }
}

#skills_container {
  text-align: center;
  padding-top: 100px;
  height: auto;
  padding-bottom: 100px;
  position: relative;
  border-bottom: 2px solid #b2123b;

  h1 {
    padding-bottom: 75px;

    #skills_icon {
      width: 50px;
      height: 50px;
      margin-left: 20px;
    }
    #reverse_skills_icon {
      width: 50px;
      height: 50px;
      transform: scaleX(-1);
      margin-right: 20px;
    }
    .svg {
      animation: cogSpin 10s infinite;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .language_container {
    margin-top: 50px !important;
    margin: auto;
    #rest_api {
      font-family: "Anton", sans-serif;
      color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    h3 {
      padding-bottom: 20px;
    }
  }
}
@keyframes cogSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
