#about_container {
  margin-bottom: 30px;
  #about_title {
    padding-bottom: 10px;
    font-weight: 700;
    padding-left: 35px;
  }
  #about_description {
    padding: 20px 0px 20px 20px;
    background-color: #32266f27;
  }
}
