#jumbotron_container {
  height: 600px;
  background-image: url("../../Assets/fall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.81);
  #overlay {
    background-color: rgba($color: #000000, $alpha: 0.32);
    height: 100%;
  }
  #title_container {
    padding-top: 60px;
    text-align: center;
    color: white;
    #code_links_container {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      span {
        padding: 30px 20px 10px 20px;
        svg {
          transition: 0.5s ease-in-out;
        }

        a {
          color: white;
          height: 100%;
          &:hover {
            svg {
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }
}
